---
name: md-links

on: [push, pull_request]

jobs:
  md-links:

    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@master
      - name: markdown-link-check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: "yes"
          file-path: './README.md, ./LICENSE'
